* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden; /* permite rolagem vertical */
  font-family: "Source Serif 4", serif;
  background: linear-gradient(to right, rgba(231, 124, 247, 0.87), rgb(201, 201, 106));
}

/* Container da chuva */
.hearts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

/* Corações */
.hearts span {
  position: absolute;
  top: -10px;
  color: #ff4d6d;
  animation: fall linear forwards;
}

/* Animação */
@keyframes fall {
  to {
    transform: translateY(120vh);
    opacity: 0;
  }
}

/* SECTION RESPONSIVA */
section {
  position: relative;
  z-index: 2;
  margin: 20px; /* menor margem para celular */
  padding: 30px 20px;
  min-height: 100vh; /* ESSENCIAL para esticar */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, rgb(255, 0, 230), rgb(217, 255, 0));
  text-align: center;
}

h1 {
  font-size: 28px;
  margin: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #fff200;
}

p {
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ff00cc;
}

footer {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #fff200;
}
